name: logix_market_place
description: "logix market place app"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.4.1 <4.0.0'
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  flutter_screenutil: ^5.9.0
  get: ^4.6.6
  shared_preferences: ^2.2.2
  http: ^1.5.0
  flutter_launcher_icons: ^0.14.4
  fluttertoast: ^8.2.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
flutter:
  uses-material-design: true

  assets:
    - assets/
    - icons/
    - assets_mock/

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/logo.png"